---
import Layout from '~/layouts/PageLayout.astro';
import Hero3 from '~/components/widgets/Hero3.astro';
import BookTout from '~/components/widgets/BookTout.astro';
import Content from '~/components/widgets/Content.astro';
import BlogUpcomingPosts from '~/components/widgets/BlogUpcomingPosts.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import BlogFeaturedPosts from '~/components/widgets/BlogFeaturedPosts.astro';
import Subscribe from '~/components/widgets/Convertkit.astro';
import { fetchPosts } from '~/utils/graphqlClient.ts';

const { posts } = await fetchPosts();

const metadata = {
  title: 'Architecting Systems',
  description: 'Systems Thinking and Architecture Skills for an Increasingly Complex World',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero  -->
  <Hero3
    id="newsletter"
    tagline="get the newsletter"
    actions={[{ variant: 'primary', target: '_blank', text: 'Subscribe Now', href: '#subscribe' }]}
    image={{
      src: 'https://res.cloudinary.com/mentrix/image/upload/t_square-fit/v1722945134/ae-email-header_yznvlq.png',
      alt: 'Architecting Systems',
    }}
  >
    <Fragment slot="title">
      Design and Deliver <span class="text-accent dark:text-white highlight">Impactful Systems</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold"
          >Architecting Systems is the weekly publication for systems thinkers. Develop the skills you need to succeed
          in an increasingly-complex world.</span
        >
      </span>
    </Fragment>
  </Hero3>

  <!-- Latest Posts  -->
  <BlogFeaturedPosts
    title="Featured Posts"
    information={`Read articles to get a feel for Architecting Systems`}
    linkText="Find more"
    count="6"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-bg dark:bg-transparent"></div>
    </Fragment>
  </BlogFeaturedPosts>

  <!-- subscription form -->
  <Subscribe id="subscribe" />

  <!-- Latest Posts  -->
  <BlogLatestPosts
    title="Recent Editions"
    information={`Read articles that are available to free subscribers`}
    linkText="Find more"
    count="9"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-bg dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- Dynamic content inserted here: Posts data -->
  <div class="my-12">
    <h2 class="text-3xl font-semibold text-heading">Explore More Content</h2>
    {
      posts && posts.length > 0 ? (
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          {posts.map((post) => (
            <div key={post.slug} class="bg-white shadow-md rounded-lg p-4">
              <h3 class="text-xl font-bold">{post.title}</h3>
              <p class="text-gray-700">{post.body.text}</p>
              <a href={`/${post.slug}`} class="text-accent hover:underline mt-4 inline-block">
                Read more
              </a>
            </div>
          ))}
        </div>
      ) : (
        <p>No additional content available.</p>
      )
    }
  </div>

  <!-- Systems School Stuff -->
  <Content
    isReversed
    tagline="school of systems"
    subtitle="Want to dive into learning, right now? Join the community of systems explorers."
    id="learning"
    items={[
      {
        title: 'Learning Resources for Systems Thinkers',
        description:
          'Nonlinear skills, practices and approaches for technology professionals building knowledge systems. Recommend your favorites!',
        icon: 'as-resources',
      },
      {
        title: 'Collections & Types',
        description:
          'Articles, talks, books, podcasts, courses and more ... organized by themes and practices that nourish and support systems thinking and design.',
        icon: 'as-collections',
      },
      {
        title: 'Discover Experts',
        description:
          'Browse resources published by systems experts and find more perspectives to support your learning practice.',
        icon: 'as-expert',
      },
    ]}
    image={{
      src: 'https://res.cloudinary.com/mentrix/image/upload/v1722945855/create-once-publish-everywhere-white.jpg',
      alt: 'Create once publish everywhere image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Visit the Systems Library...',
      href: 'https://systemslibrary.com/',
      icon: 'tabler:chevron-right',
    }}
  >
    <Fragment slot="title">
      <h2 class="text-4xl md:text-5xl font-bold tracking-tighter mb-4 font-heading text-accent">Join the Community</h2>
    </Fragment>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight text-heading dark:text-white sm:text-3xl mb-2">
        The Systems Library
      </h3>
    </Fragment>
  </Content>

  <!-- Upcoming Events -->
  <BlogUpcomingPosts
    title="Upcoming Events"
    information={`I keynote at technology events, as well as develop onsite, remote and custom workshops. Here are some upcoming events.`}
    linkText="View Upcoming Events"
    linkUrl="category/events"
    count="9"
  />
</Layout>
